statusbarpanel#grtoolkit-notifier-status {
  padding-right: 2px;
}

statusbarpanel#grtoolkit-notifier-status[status="000"] {
  list-style-image: url("chrome://grtoolkit/content/16x16.png");
}

statusbarpanel#grtoolkit-notifier-status[status="00f"] {
  list-style-image: url("chrome://grtoolkit/content/16x16.png");
}

statusbarpanel#grtoolkit-notifier-status[status="0f0"] {
  list-style-image: url("chrome://grtoolkit/content/16x16-alert.png");
}

statusbarpanel#grtoolkit-notifier-status[status="f00"] {
  list-style-image: url("chrome://grtoolkit/content/16x16-error.png");
}
